$sidebar-bg: #fff;
$sidebar-text: $deep-grey-dark;

@mixin nav-icon( $color: #fff ){

    border-color: $color;

    &.on,
    &:hover {
        color: $color;
    }
    
    &:after {
        color: darken($color, 14);
    }
}

#sidebar {
    @include box-sizing( border-box );
    background: $sidebar-bg;
    color: $sidebar-text;
    border-right: 3px solid $grey-light;

    .logo {
        text-align: center;
        font-family: $font-family-mono;
        @include adjust-font-size-to( 26px, 1.5 );
        margin: 1.2em 0 1.5em;
        font-weight: normal;

        img {
            display: block;
            margin: auto;
        }

        small {
            font-size: 1em;
            color: darken($grey-dark, 8);
        }
    }

    footer {
        margin: 2em;
    }
}

#site-nav {

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        position: relative;
        @include adjust-font-size-to(22px, 1);
        font-family: $font-family-mono-light;
        color: $sidebar-text;
        padding: 1em 0 1em 50px;
        display: block;
        text-decoration: none;
        border: 0 solid $sidebar-bg;
        border-right-width: 3em;
        // border-left-width: 1em;
        @include transition( all .2s ease-out );

        &:hover {
            // background: $blue-light;
            // border-right-color: $blue-light;
            border-right-width: 5em;
        }

        &:active {
            background: $grey;
            border-right-color: $grey;
            border-right-width: 5em;
        }

        &.on {
            border-right-width: 5em;
        }

        &:after {
            font: 1.7em/1.9 'minutelabs-icons';
            color: #fff;
            position: absolute;
            top: 0;
            right: -1.45em;
        }

        // specific items
        &.labs {
            @include nav-icon( $blue-dark );

            &:after {
                @extend .icon-atom:before;
            }
        }

        &.about {
            @include nav-icon( $green-dark );

            &:after {
                @extend .icon-info:before;
            }
        }

        &.code {
            @include nav-icon( $deep-grey );

            &:after {
                @extend .icon-code:before;
            }
        }

        &.subscribe {
            @include nav-icon( $red-orange-dark );

            &:after {
                @extend .icon-feed:before;
            }
        }
    }
}

#btn-navigate {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: $deep-grey-dark;
    color: #fff;
    font: 1.3em/1 $font-family-mono-light;
    padding: 1em 2em 1em 3em;
    text-decoration: none;
    @include transition( all .1s ease-out );
    @include border-radius( 0 0 3px 0 );
    @include transform( translate3d(0, 0, 0) );

    &:before {
        position: absolute;
        top: 0;
        left: 1em;
        font: 1em/3 'minutelabs-icons';
        overflow: hidden;
        @extend .icon-list2:before;
    }

    &:hover {
        background: $blue-dark;
    }

    &.on {
        // background: $blue-dark;
        &:before {
            left: 0.65em;
            font-size: 1.4em;
            line-height: 2.2;
            @extend .icon-cancel2:before;
        }
    }

    &:active {
        background: $blue;
    }
}


// phones
@media screen and (max-width: 480px){

    #sidebar {
        border-right-width: 0;
    }

    #wrap-outer {
        @include offcanvas( 100% );
    }

    .no-csstransforms3d #btn-navigate.on {
        right: 3em;
    }

    .csstransforms3d #btn-navigate.on {
        @include transform( translate3d(-3em, 0, 0) );
    }
}

// tablets
@media screen and (min-width: 481px) and (max-width: 780px){

    #wrap-outer {
        @include offcanvas( 300px );
    }
}

// desktop
@media screen and (min-width: 781px){
    
    #wrap-outer {
        
        [data-offcanvas="wrap"]{
            @include box-sizing( border-box );
            width: 100%;
            padding-left: 300px;
        }
        [data-offcanvas="offcanvas"]{
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: 100%;
        }
        [data-offcanvas="toggle"]{
            display: none;
        }
    }
}
