.page-labs #viewport {
    max-width: none;
    padding: 0;
}

.post-list {

    // "abstract" class
    .tag {
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 32px;
        text-decoration: none;
        text-align: center;

        &:before {
            font-family: 'minutelabs-icons';
            color: lighten($blue-light, 25);
            line-height: 40px;
        }
    }

    padding: 0 10%;
    // background: url(http://i1.ytimg.com/vi/th_9ZR2I0_w/maxresdefault.jpg) no-repeat right bottom fixed;
    background-size: 80%;
    overflow: hidden;

    .date {
        display: block;
        font: 1.3em/.8 $font-family-mono;
        background: $blue-dark;
        color: lighten($blue-light, 25);
        text-align: center;
        text-transform: uppercase;
        padding: 0.4em;
        @include border-radius( 3px );
    }

    .post {
        position: relative;
        @include clearfix;
        @include box-sizing( border-box );
        background: rgba(255, 255, 255, 0.95);
        border: 1px solid $grey-dark;
        max-width: 500px;
        margin: rhythm(2) auto;
        @include border-radius( 5px );
        @include transform( translateX(0) );
        background: lighten(mix($blue-light, lighten($grey-light, 6), 4), 1);

        .post-image {
            width: 100%;

            > .thumb,
            > .thumb > img {
                display: block;
            }
        }

        .inner {
            padding: rhythm(1) 5% 0;
            clear: none;
            overflow: hidden;
            border-top: 1px solid $grey-dark;
        }

        .controls {
            padding: 0 5% 5%;
            text-align: right;
        }

        .title {
            @include adjust-font-size-to(28px, 1);
            margin: 0 80px rhythm(0.5) 0;
            
            a { 
                text-decoration: none;
                color: $deep-grey-dark;
            }
        }

        .desc {
            font-family: $font-family-mono-light;

            p:last-child {
                margin-bottom: rhythm(.5);
            }
        }

        .date {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.85em;
            @include border-radius( 0 3px 0 3px );
            
            &:first-line {
                font-size: 1.7em;
            }
        }

        .top {
            position: relative;
        }

        .tags {
            position: absolute;
            right: 0;
            top: 0;
            margin-right: 55px;
            padding: 0 4px;
            background: $blue-dark;
            @include border-radius( 0 0 0 3px );
            // @include opacity( 0.5 );
        
            > span {
                display: none;
            }

            .tag-desktop {
                @extend .tag;
                @extend .icon-monitor;
            }

            .tag-tablet {
                @extend .tag;
                @extend .icon-tablet;
            }

            .tag-phone {
                @extend .tag;
                @extend .icon-phone;
            }

            .tag-article {
                @extend .tag;
                @extend .icon-book;
            }
        }

        .post-image + .tags {
            right: auto;
            top: auto;
            left: 0;
            bottom: 0;
            @include border-radius( 0 3px 0 0 );
        }

        .btn-launch:before {
            @extend .icon-rocket:before;
            // color: darken($blue-dark, 15);
        }

        &.layout-right {
            padding: 5%;

            > * {
                padding: 0;
                text-align: left;
            }
            
            .post-image {
                clear: none;
                float: right;
                width: 50%;
                margin-left: 2em;

                border: 1px solid $grey;
            }
        }
    }

    .sep-year {
        display: block;
        width: 100px;
        margin: auto;
    }
}
