// main css for lab inclusion
@import "labs/_labs";
@import "labs-nav";

// phones
@media screen and (max-width: 480px){

    #wrap-outer {
        @include offcanvas( 100% );
    }
}

// tablets
@media screen and (min-width: 481px){
    
    #wrap-outer {
        @include offcanvas( 500px );
    }
}

#viewport {
    overflow: hidden;
}

#details {
    @include box-sizing( border-box );
    padding: 0 2.5em;
    background: lighten(mix($blue-light, lighten($grey-light, 6), 4), 1);
    @include box-shadow( inset -1px 0px 4px rgba(50, 50, 50, 0.3) );
    
    header {
        @include clearfix;
        margin-bottom: rhythm(2);
    }
    .title {
        @include adjust-font-size-to(42px, 1.6);
        margin-bottom: 0;
    }
    .title-by {
        text-align: right;
        margin: 0;
        @include adjust-font-size-to(20px, 1.4);

        a {
            color: $deep-grey-dark;
            text-decoration: none;

            &:hover span:last-child {
                color: $yellow-dark;
            }
        }
        
        span {
            color: darken($grey-dark, 8);
        }
    }
}