// main css for site inclusion
@import "labs/_labs";
@import "vendor/_frosty";
@import "_navigation";
@import "_post-list";
@import "_article";


html, body, #wrap-outer {
    height: 100%;
}

iframe {
    width: 560px;
    margin: auto;
    display: block;
}

#viewport {
    padding: 0 rhythm(4);
    max-width: 800px;
}

#github-link {
    @include adjust-font-size-to( 20px );
    text-align: center;

    a {
        font-size: 90px;
        text-decoration: none;
        color: black;
        @include transition( color .3s ease );

        &:hover {
            color: #4183c4; // github highlight
        }
    }
}

@media screen and (max-width: 780px){

    #viewport {
        margin-top: -60px;
        padding: 5%;
        padding-top: 110px !important;
        background: image-url('logo-no-text-minute-labs.png') no-repeat top right;
        background-size: 140px;
    }
}

@media screen and (max-width: 480px){

    #viewport {
        margin-top: 0;
        background-position: center 10px;
    }
}
