// main css for site inclusion
@import "labs/_labs";
@import "vendor/_frosty";
@import "_navigation";
@import "_post-list";
@import "_article";


html, body, #wrap-outer {
    height: 100%;
}

iframe {
    width: 560px;
    margin: auto;
    display: block;
}

#viewport {
    padding: 0 rhythm(4) rhythm(4);
    max-width: 800px;
}

#github-link {
    @include adjust-font-size-to( 20px );
    text-align: center;

    a {
        font-size: 90px;
        text-decoration: none;
        color: black;
        @include transition( color .3s ease );

        &:hover {
            color: #4183c4; // github highlight
        }
    }
}

#site-search {
    position: relative;
    margin: 1.5em 2em;

    input {
        @include box-sizing( border-box );
        width: 100%;
        height: 31px;
    }

    button[type="submit"] {
        font-size: 10px;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        text-indent: -9099em;
        line-height: 0;
        &:after {
            @extend .icon-magnifier:before;
            display: block;
            line-height: 1;
            text-indent: 0;
            left: 0;
        }
    }
}

#search-results {

    padding-top: rhythm( 2 );

    .gsc-control-cse {
        font-family: inherit;
    }

    .gsc-search-box-tools .gsc-search-box .gsc-input {
        vertical-align: top;
        padding-top: 0px;
        line-height: 1;
    }

    .gsst_a .gscb_a {
        line-height: 0.85;
    }

    table.gsc-search-box td {
        vertical-align: top;
    }

    .gs-no-results-result .gs-snippet,
    .gs-error-result .gs-snippet {
        background: $yellow-light;
        border-color: $yellow;
    }

    input {
        max-width: none;
        margin: 0;
    }
}

.page-404 {
    #search-results {
        padding-top: 0;

        .gsc-control-cse {
            padding: 0;
        }
    }
}

#minute-links {
    @include clearfix;
    text-align: center;
    max-width: 600px;
    margin: auto;
}

#contributors {
    text-align: center;
    color: $deep-grey-light;
    font-family: $font-family-minute-labs;

    .row {
        @include clearfix;
        margin-bottom: rhythm(2);
    }

    .thumb {
        img {
            display: block;
            margin: 0 auto rhythm(1);
            width: 80%;
            @include border-radius( 50% );
        }
    }

    .contributor {
        display: block;
        color: $deep-grey-dark;
    }

    .twitter-handle {
        font-size: 0.75em;
    }

    ul, ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        margin-bottom: rhythm(1);
    }
}

#subscribe-cta {
    text-align: center;
    font-family: $font-family-minute-labs;

    .btn-subscribe {
        @extend .icon-feed;
    }
}

#follow-us {

    text-align: center;

    ul, ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        padding: 0 0.5em;

        a {
            font-family: $font-family-minute-labs;
            color: $deep-grey-dark;
            text-decoration: none;
            @include transition( color .3s ease );

            &:before {
                font-family: 'minutelabs-icons';
                font-size: 2em;
                display: block;
            }

            &.icon-twitter:hover {
                color: $blue;
            }

            &.icon-facebook:hover {
                color: $blue-dark;
            }

            &.icon-google-plus:hover {
                color: $red;
            }

            &.icon-github:hover {
                color: $blue;
            }
        }
    }
}

#decorations {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;

    img {
        position: absolute;
        opacity: 0.3;
        width: 100px;
    }

    .one {
        top: 230px;
        right: 5%;
        width: 180px;
    }

    .two {
        top: 640px;
        left: 2%;
        width: 220px;
        margin-left: 300px;
    }

    .three {
        top: 1300px;
        right: 5%;
        width: 220px;
    }
}

@media screen and (max-width: 780px){

    #viewport {
        margin-top: -60px;
        padding: 5%;
        padding-top: 110px !important;
        background: image-url('logos/logo-minutelabs-no-text.png') no-repeat top right;
        background-size: 140px;
    }
}

@media screen and (max-width: 480px){

    #viewport {
        margin-top: 0;
        background-position: center 10px;
    }
}
