language: ruby
rvm: 2.3.7
install: bundle install
script: "bundle exec jekyll build"
sudo: false
cache: bundler
branches:
  only:
  - production
deploy:
  provider: pages
  target-branch: master
  skip-cleanup: true
  github-token: $githubToken
  keep-history: true
  on:
    branch: production
