<head><link href="./app.1b858be7e7b7a21367b2913eff3af13a.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Entry module not found: Error: Can't resolve '/Users/wellcaffeinated/Documents/github/minutelabs/minutelabsio.github.io/_includes/_scripts.html' in '/Users/wellcaffeinated/Documents/github/minutelabs/mi  nutelabsio.github.io':
  Error: Can't resolve '/Users/wellcaffeinated/Documents/github/minutelabs/minutelabsio.github.io/_includes/_scripts.html' in '/Users/wellcaffeinated/Documents/github/minutelabs/minutelabsio.github.io'
  
  - compiler.js:76 
    [minutelabsio.github.io]/[html-webpack-plugin]/lib/compiler.js:76:16
  
  - Compiler.js:300 compile
    [minutelabsio.github.io]/[webpack]/lib/Compiler.js:300:11
  
  - Compiler.js:510 applyPluginsAsync.err
    [minutelabsio.github.io]/[webpack]/lib/Compiler.js:510:14
  
  - Tapable.js:202 next
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:202:11
  
  - CachePlugin.js:78 Compiler.<anonymous>
    [minutelabsio.github.io]/[webpack]/lib/CachePlugin.js:78:5
  
  - Tapable.js:206 Compiler.applyPluginsAsyncSeries
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:206:13
  
  - Compiler.js:507 compilation.seal.err
    [minutelabsio.github.io]/[webpack]/lib/Compiler.js:507:11
  
  - Tapable.js:195 Compilation.applyPluginsAsyncSeries
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:195:46
  
  - Compilation.js:683 applyPluginsAsync.err
    [minutelabsio.github.io]/[webpack]/lib/Compilation.js:683:19
  
  - Tapable.js:202 next
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:126 LastCallWebpackPlugin.process
    [minutelabsio.github.io]/[last-call-webpack-plugin]/index.js:126:12
  
  - index.js:197 Compilation.<anonymous>
    [minutelabsio.github.io]/[last-call-webpack-plugin]/index.js:197:12
  
  - Tapable.js:206 Compilation.applyPluginsAsyncSeries
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:206:13
  
  - Compilation.js:674 applyPluginsAsync.err
    [minutelabsio.github.io]/[webpack]/lib/Compilation.js:674:11
  
  - Tapable.js:202 next
    [minutelabsio.github.io]/[tapable]/lib/Tapable.js:202:11
  
  - index.js:126 LastCallWebpackPlugin.process
    [minutelabsio.github.io]/[last-call-webpack-plugin]/index.js:126:12
  
</pre><script type="text/javascript" src="./static/js/manifest.3ad1d5771e9b13dbdad2.js"></script><script type="text/javascript" src="./static/js/vendor.218985bae61af7f67f30.js"></script><script type="text/javascript" src="./static/js/app.972489efc367ce9f3490.js"></script>