// Common
@import "./_variables";
@import "./_fonts";
@import "~bulma/sass/utilities/initial-variables";
@import "~buefy/src/scss/utils/_all";
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $family-monospace;
  }
}

.heading,
.button {
  font-family: $family-monospace;
}

.menu-label {
  font-family: $family-monospace;
  font-size: 1em;
}

.has-text-muted {
  color: $grey-light;
}

.toolbar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;

  > .toolbar-item {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  > .toolbar-item,
  > .toolbar-right,
  > .toolbar-left {
    display: flex;
    align-items: center;

    .toolbar-text {
      align-self: center;
      padding: 0 1em;
    }
    .toolbar-control {
      display: flex;
      padding: 0.75rem;
    }
  }
}

.clickable {
  cursor: pointer;
}

.scrollbars {
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px transparentize($grey, 0.5);
    background: $white-ter;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $blue;
    box-shadow: 0 0 1px transparentize($blue, 0.5);
  }
}

.limit-dropdown .dropdown-content {
  @extend .scrollbars;

  overflow-y: auto;
  max-height: 400px;
}

.card.clickable {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 2px 3px transparentize($blue, 0.6), 0 0 0 1px transparentize($blue, 0.6);
  }
}

#search-results {

  padding-top: rhythm( 2 );

  .gsc-control-cse {
    font-family: inherit;
  }

  .gsc-search-box-tools .gsc-search-box .gsc-input {
    vertical-align: top;
    padding-top: 0px;
    line-height: 1;
  }

  .gsst_a .gscb_a {
    line-height: 0.85;
  }

  table.gsc-search-box td {
    vertical-align: top;
  }

  .gs-no-results-result .gs-snippet,
  .gs-error-result .gs-snippet {
    background: $yellow-light;
    border-color: $yellow;
  }

  input {
    max-width: none;
    margin: 0;
  }
}

#viewport {
  flex: 1;
  display: flex;
  flex-direction: column;
  .page-text {
    flex: 1;
    background: $white;
  }
}

ul.footer-contact {
  list-style: none;
  margin: 0;

  .patreon a {
    color: $orange;
  }
  .email a {
    color: $grey-light;
  }
  .youtube a {
    color: $red;
  }
  .twitter a {
    color: $blue;
  }
}
