@font-face {
    font-family: 'sf_cartoonist_hand';
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot');
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.woff') format('woff'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.ttf') format('truetype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_regular_macroman/SF_Cartoonist_Hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf_cartoonist_hand';
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.eot');
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.woff') format('woff'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.ttf') format('truetype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_bold_macroman/SF_Cartoonist_Hand_Bold-webfont.svg#sf_cartoonist_handbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'sf_cartoonist_hand';
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.eot');
    src: font-url('SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.woff') format('woff'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.ttf') format('truetype'),
         font-url('SF-Cartoonist-Hand/sfcartoonisthand_italic_macroman/SF_Cartoonist_Hand_Italic-webfont.svg#sf_cartoonist_handitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'pt-sans';
    src: font-url('PT-Sans/ptsans_regular_macroman/PTS55F-webfont.eot');
    src: font-url('PT-Sans/ptsans_regular_macroman/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('PT-Sans/ptsans_regular_macroman/PTS55F-webfont.woff') format('woff'),
         font-url('PT-Sans/ptsans_regular_macroman/PTS55F-webfont.ttf') format('truetype'),
         font-url('PT-Sans/ptsans_regular_macroman/PTS55F-webfont.svg#ptsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pt-sans';
    src: font-url('PT-Sans/ptsans_bold_macroman/PTS75F-webfont.eot');
    src: font-url('PT-Sans/ptsans_bold_macroman/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('PT-Sans/ptsans_bold_macroman/PTS75F-webfont.woff') format('woff'),
         font-url('PT-Sans/ptsans_bold_macroman/PTS75F-webfont.ttf') format('truetype'),
         font-url('PT-Sans/ptsans_bold_macroman/PTS75F-webfont.svg#ptsansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'pt-sans';
    src: font-url('PT-Sans/ptsans_italic_macroman/PTS56F-webfont.eot');
    src: font-url('PT-Sans/ptsans_italic_macroman/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('PT-Sans/ptsans_italic_macroman/PTS56F-webfont.woff') format('woff'),
         font-url('PT-Sans/ptsans_italic_macroman/PTS56F-webfont.ttf') format('truetype'),
         font-url('PT-Sans/ptsans_italic_macroman/PTS56F-webfont.svg#ptsansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'latin-modern-mono';
    src: font-url('Latin-Modern-Mono/latinmodernmono_10regular_macroman/lmmono10-regular-webfont.eot');
    src: font-url('Latin-Modern-Mono/latinmodernmono_10regular_macroman/lmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Latin-Modern-Mono/latinmodernmono_10regular_macroman/lmmono10-regular-webfont.woff') format('woff'),
         font-url('Latin-Modern-Mono/latinmodernmono_10regular_macroman/lmmono10-regular-webfont.ttf') format('truetype'),
         font-url('Latin-Modern-Mono/latinmodernmono_10regular_macroman/lmmono10-regular-webfont.svg#latin-modern-mono') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin-modern-mono-light';
    src: font-url('Latin-Modern-Mono/latinmodernmonolight_10regular_macroman/lmmonolt10-regular-webfont.eot');
    src: font-url('Latin-Modern-Mono/latinmodernmonolight_10regular_macroman/lmmonolt10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Latin-Modern-Mono/latinmodernmonolight_10regular_macroman/lmmonolt10-regular-webfont.woff') format('woff'),
         font-url('Latin-Modern-Mono/latinmodernmonolight_10regular_macroman/lmmonolt10-regular-webfont.ttf') format('truetype'),
         font-url('Latin-Modern-Mono/latinmodernmonolight_10regular_macroman/lmmonolt10-regular-webfont.svg#latin-modern-mono-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin-modern-mono-prop';
    src: font-url('Latin-Modern-Mono/latinmodernmonoprop_10regular_macroman/lmmonoprop10-regular-webfont.eot');
    src: font-url('Latin-Modern-Mono/latinmodernmonoprop_10regular_macroman/lmmonoprop10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Latin-Modern-Mono/latinmodernmonoprop_10regular_macroman/lmmonoprop10-regular-webfont.woff') format('woff'),
         font-url('Latin-Modern-Mono/latinmodernmonoprop_10regular_macroman/lmmonoprop10-regular-webfont.ttf') format('truetype'),
         font-url('Latin-Modern-Mono/latinmodernmonoprop_10regular_macroman/lmmonoprop10-regular-webfont.svg#latin-modern-mono-prop') format('svg');
    font-weight: normal;
    font-style: normal;
}
