@import "compass/css3";

@import "_normalize";
@import "_mixins";
@import "_vars";
@import "_layers-grid";
@import "_layers-lists";
@import "_fonts";
@import "_icons";
@import "_forms";
@import "_type";
@import "_buttons";
@import "_off-canvas";
@import "_nav-widget";
@import "_full-page";

body {
    font-family: $font-family-sans-serif;
    color: $deep-grey;
}

h1, h2, h3, h4, h5, h6 {
    color: $deep-grey-dark;
    font-family: $font-family-minute-labs;
    text-rendering: optimizeLegibility;
}

.invert {
    background: $deep-grey-dark;
    color: $grey-dark;

    h1, h2, h3, h4, h5, h6 {
        color: $grey;
    }
}

.comic {
    font-family: $font-family-comic;
    letter-spacing: 1px;
}
p.comic {
    @include adjust-font-size-to( 18px );
}

// temporary

#nav-widget {
    @include nav-widget();
    // @include nav-widget(#fff, #333);
}


#viewport {
    overflow: hidden;
}

#details {
    @include box-sizing( border-box );
    padding: 0 2em;
    // background: #fafafa;
    // @extend .invert;
    
    @include box-shadow( inset -1px 0px 4px rgba(50, 50, 50, 0.3) );
}

