@mixin offcanvas($width: 400px){

    position: relative;
    overflow: hidden;
    width: 100%;
    
    [data-offcanvas="wrap"] {
        position: relative;
        width: 100%;
        left: 0;
    }

    &.offcanvas-active [data-offcanvas="wrap"] {
        left: $width;
    }
    .csstransforms3d.csstransitions & [data-offcanvas="wrap"] {
        @include transform( translate3d(0, 0, 0) );
        @include transition( transform .35s ease-out );
    }
    .csstransforms3d.csstransitions &.offcanvas-active [data-offcanvas="wrap"] {
        left: 0;
        @include transform( translate3d($width, 0, 0) );
    }

    [data-offcanvas="offcanvas"] {
        position: absolute;
        top: 0;
        left: -$width;
        width: $width;
        height: 100%;
        overflow: auto;

        .csstransforms3d.csstransitions & {
            left: 0;
            @include transform( translate3d(-$width, 0, 0) );
        }
    }
}