$font-family-comic: 'sf_cartoonist_hand', Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'pt-sans', Helvetica, Arial, sans-serif;
$font-family-mono: 'latin-modern-mono', Courier, monospace;
$font-family-minute-labs: $font-family-mono;

// Colors
// 
$blue: rgb(40, 136, 228);
$blue-light: rgb(91, 191, 243);
$blue-dark: rgb(18, 84, 151);

$deep-blue: rgb(0, 80, 224);
$deep-blue-light: rgb(109, 155, 243);
$deep-blue-dark: rgb(0, 37, 143);

$red: rgb(233, 63, 51);
$red-light: rgb(244, 183, 168);
$red-dark: rgb(167, 42, 34);

$red-orange: rgb(235, 96, 51);
$red-orange-light: rgb(244, 18, 140);
$red-orange-dark: rgb(151, 52, 29);

$grey: rgb(220, 220, 220);
$grey-light: rgb(237, 237, 237);
$grey-dark: rgb(200, 200, 200);

$deep-grey: rgb(67, 67, 67);
$deep-grey-light: rgb(98, 98, 98);
$deep-grey-dark: rgb(26, 26, 26);

$green: rgb(121, 229, 0);
$green-light: rgb(125, 242, 129);
$green-dark: rgb(64, 128, 0);

// buttons
// 

$btn-border-width: 1px;

// normal
$btn-normal-bg: lighten($grey-light, 10); //#FFFDCB;
$btn-normal-text: $deep-grey; //#444;
$btn-normal-border: $grey-dark; //#CECBA3;

// ok
$btn-ok-bg: $green-light; //#8BFCA1;
$btn-ok-text: $green-dark; //#17411F;
$btn-ok-border: $green-dark; //#76AC81;

// danger
$btn-danger-bg: $red-light; //#FF9B89;
$btn-danger-text: $red-dark; //#630F00;
$btn-danger-border: $red-dark; //#B87063;

// inverse
$btn-inverse-bg: $deep-grey; //#2C2E57;
$btn-inverse-text: $grey-light; //#fff;
$btn-inverse-border: $deep-grey-dark; //#111;