---
---
<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title | escape}} | {{site.title | escape}}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}" />
    {% elsif site.description %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    
    <meta name="author" content="{{ site.author.name }}" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta http-equiv="cleartype" content="on">
    <!-- css -->
    <link rel="stylesheet" href="/library/styles/site.css" />

    <!-- js includes -->
    <script src="/library/js/vendor/modernizr.js"></script>
    <script>var require = { urlArgs: 'v=@@pkg.version' };</script>
    <script src="/library/js/vendor/require.js?v=@@pkg.version" data-main="library/js/page-home"></script>
  </head>
  <body>
    
    <h1>Minute Labs .io</h1>
    <p>Coming very soon...</p>

    <script src="/library/js/ga.js" async></script>
  </body>
</html>
