---
---
<!DOCTYPE html>
<!--[if lte IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title | escape}} | {{site.title | escape}}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description | escape }}" />
    {% elsif site.description %}
    <meta name="description" content="{{ site.description | escape }}">
    {% endif %}
    
    <meta name="author" content="{{ site.author.name }}" />

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta http-equiv="cleartype" content="on">
    <!-- css -->
    <link rel="stylesheet" href="/library/styles/site.css" />

    <!-- js includes -->
    <script src="/library/js/vendor/modernizr.js"></script>
    <script>var require = { urlArgs: 'v=@@pkg.version' };</script>
    <script src="/library/js/vendor/require.js?v=@@pkg.version" data-main="library/js/page-home"></script>
  </head>
  <body>
    
    <div id="wrap-outer">
      <div data-offcanvas="wrap">
        <a href="#site-nav" id="btn-navigate" data-offcanvas="toggle">Navigate</a>
        <div id="sidebar" data-offcanvas="offcanvas">
          <header>
            <nav id="site-nav" role="navigation">
              <h1>Minute Labs (.io)</h1>
              <ul>
                {% for nav in site.nav %}
                {% capture id %}{{ nav.title | downcase }}{% endcapture %}
                <li><a{% if page.section == id %} class="on"{% endif %} href="{{ nav.url }}">{{ nav.title | capitalize }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </header>
          <footer>
            Share ...
          </footer>
        </div>
        <div id="viewport">
        {{content}}
        </div>
      </div>
    </div>

    <script src="/library/js/ga.js" async></script>
  </body>
</html>
